/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#f5f5f5;
  color:#333;
  line-height:1.5;
}

img{
  max-width:100%;
  display:block;
}

a{
  text-decoration:none;
  color:inherit;
}

/* CONTAINER GLOBAL */
.container{
  width:100%;
  max-width:1100px;
  margin:0 auto;
  padding:0 20px;
}
