/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

    font-family: var(--font-family);

    font-size: var(--font-size-base);

    color: var(--color-text);

    background: var(--color-background);

    line-height: 1.6;

}

img{
  max-width:100%;
  display:block;
}

a{
  text-decoration:none;
  color:inherit;
}

/* CONTAINER GLOBAL */
.container{

    width:100%;

    max-width:var(--container-max-width);

    margin:0 auto;

    padding-left:var(--container-padding);

    padding-right:var(--container-padding);

}

html{
    scroll-behavior:smooth;

    
}

/* ========================================
   SCROLLBAR PREMIUM
======================================== */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#1a0000;
}

::-webkit-scrollbar-thumb{

    background:
    linear-gradient(
    to bottom,
    #ffcc00,
    #ff7b00);

    border-radius:20px;
}